USE [Festivos]
GO
/****** Objeto: Table [dbo].[Festivo] Fecha de script: 8/10/2026 4:50:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Festivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Dia] [int] NULL,
	[Mes] [int] NULL,
	[DiasPascua] [int] NULL,
	[IdPais] [int] NULL,
	[IdTipo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pais] Fecha de script: 8/10/2026 4:50:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoFestivo] Fecha de script: 8/10/2026 4:50:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoFestivo](
	[Id] [int] NOT NULL,
	[Tipo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Festivo] ON 

INSERT [dbo].[Festivo] ([Id], [Nombre], [Dia], [Mes], [DiasPascua], [IdPais], [IdTipo]) VALUES (1, N'Año nuevo', 1, 1, 0, 1, 1)
INSERT [dbo].[Festivo] ([Id], [Nombre], [Dia], [Mes], [DiasPascua], [IdPais], [IdTipo]) VALUES (2, N'Santos Reyes', 6, 1, 0, 1, 2)
INSERT [dbo].[Festivo] ([Id], [Nombre], [Dia], [Mes], [DiasPascua], [IdPais], [IdTipo]) VALUES (3, N'San José', 19, 3, 0, 1, 2)
SET IDENTITY_INSERT [dbo].[Festivo] OFF
GO
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (1, N'COLOMBIA')
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (2, N'ARGENTINA')
INSERT [dbo].[Pais] ([Id], [Nombre]) VALUES (3, N'BOLIVIA')
GO
INSERT [dbo].[TipoFestivo] ([Id], [Tipo]) VALUES (1, N'Fijo')
INSERT [dbo].[TipoFestivo] ([Id], [Tipo]) VALUES (2, N'Ley Puente Festivo')
INSERT [dbo].[TipoFestivo] ([Id], [Tipo]) VALUES (3, N'Basado en Pascua')
GO
ALTER TABLE [dbo].[Festivo]  WITH CHECK ADD FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Festivo]  WITH CHECK ADD FOREIGN KEY([IdTipo])
REFERENCES [dbo].[TipoFestivo] ([Id])
GO
